<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_Checkout>
            <version>0.1.0</version>
        </WeltPixel_Checkout>
    </modules>

    <global>
         <blocks>
            <checkout>
                <rewrite>
                    <cart>WeltPixel_Checkout_Block_Cart</cart>
                </rewrite>
            </checkout>
        </blocks>
    </global>
</config>