<?xml version="1.0" ?>
<config>
    <modules>
        <WeltPixel_LayeredNavigation>
            <version>1.0.3</version>
        </WeltPixel_LayeredNavigation>
    </modules>   
    <global>
        <resources>
            <weltpixel_layerednavigation_setup>
                <setup>
                    <module>WeltPixel_LayeredNavigation</module>
                </setup>
            </weltpixel_layerednavigation_setup>
        </resources>
        <models>
            <weltpixel_layerednavigation>
                <class>WeltPixel_LayeredNavigation_Model</class>
            </weltpixel_layerednavigation>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>WeltPixel_LayeredNavigation_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>WeltPixel_LayeredNavigation_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_decimal>WeltPixel_LayeredNavigation_Model_Catalog_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_price>WeltPixel_LayeredNavigation_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_item>WeltPixel_LayeredNavigation_Model_Catalog_Layer_Filter_Item</layer_filter_item>                                        
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>WeltPixel_LayeredNavigation_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>WeltPixel_LayeredNavigation_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                    <product_collection>WeltPixel_LayeredNavigation_Model_Catalog_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext_collection>WeltPixel_LayeredNavigation_Model_CatalogSearch_Resource_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <helpers>
            <weltpixel_layerednavigation>
                <class>WeltPixel_LayeredNavigation_Helper</class>
            </weltpixel_layerednavigation>
        </helpers>  
        <blocks>
            <weltpixel_layerednavigation>
                <class>WeltPixel_LayeredNavigation_Block</class>                
            </weltpixel_layerednavigation>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>WeltPixel_LayeredNavigation_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>WeltPixel_LayeredNavigation_Block_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_decimal>WeltPixel_LayeredNavigation_Block_Catalog_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_price>WeltPixel_LayeredNavigation_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                    <layer_state>WeltPixel_LayeredNavigation_Block_Catalog_Layer_State</layer_state>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>WeltPixel_LayeredNavigation_Block_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
        </blocks>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <weltpixel_layerednavigation before="Mage_Catalog">WeltPixel_LayeredNavigation</weltpixel_layerednavigation>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <weltpixel_layerednavigation before="Mage_CatalogSearch">WeltPixel_LayeredNavigation</weltpixel_layerednavigation>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <weltpixel_layerednavigation>
                    <file>weltpixel/layerednavigation.xml</file>
                </weltpixel_layerednavigation>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <weltpixel_navigation_positioning_observer>
                        <class>weltpixel_layerednavigation/observer</class>
                        <method>navigationPositioning</method>
                        <type>singleton</type>
                    </weltpixel_navigation_positioning_observer>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <weltpixel_layerednavigation>
                    <file>weltpixel/layerednavigation.xml</file>
                </weltpixel_layerednavigation>
            </updates>
        </layout>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                 <observers>
                    <weltpixel_layerednavigation_adminhtml_catalog_product_attribute_edit_prepare_form>
                        <class>weltpixel_layerednavigation/observer</class>
                        <method>addSwatchOptions</method>
                        <type>singleton</type>
                    </weltpixel_layerednavigation_adminhtml_catalog_product_attribute_edit_prepare_form>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>
    <default>
        <weltpixel_layerednavigation>
            <ajax>
                <enable_ajax>1</enable_ajax>
                <disable_mouseclicks>1</disable_mouseclicks>
            </ajax>
            <display>
                <position>0</position>
                <show_shop_by>1</show_shop_by>
            </display>
            <default_display>
                <show_categories_as>0</show_categories_as>
                <show_categories_product_count>0</show_categories_product_count>
                <show_attributes_product_count>0</show_attributes_product_count>
                <show_price_filter_as>0</show_price_filter_as>                
                <colors_images_width>30</colors_images_width>
                <colors_images_height>30</colors_images_height>
                <colors_images_resize>1</colors_images_resize>
                <border_radius>0</border_radius>
                <show_other_filters_as>1</show_other_filters_as>
                <sort_items_by>2</sort_items_by>
                <order_items_by>1</order_items_by>
                <display_all_items_as>1</display_all_items_as>
                <show_item_limit>3</show_item_limit>
                <show_clear_all>1</show_clear_all>
                <category_mobile_image></category_mobile_image> <!-- MUST BE UPLOADED -->
            </default_display>
        </weltpixel_layerednavigation>
    </default>
</config>
