<?xml version="1.0" ?>
<config>
    <modules>
        <WeltPixel_ProductSwatch>
            <version>1.0.1</version>
        </WeltPixel_ProductSwatch>
    </modules>
    <global>
        <resources>
            <weltpixel_productswatch_setup>
                <setup>
                    <module>WeltPixel_ProductSwatch</module>
                </setup>
            </weltpixel_productswatch_setup>
        </resources>
        <models>
            <weltpixel_productswatch>
                <class>WeltPixel_ProductSwatch_Model</class>
            </weltpixel_productswatch>
        </models>
        <helpers>
            <weltpixel_productswatch>
                <class>WeltPixel_ProductSwatch_Helper</class>
            </weltpixel_productswatch>
        </helpers>
        <blocks>
            <weltpixel_productswatch>
                <class>WeltPixel_ProductSwatch_Block</class>
            </weltpixel_productswatch>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <weltpixel_productswatch>
                    <file>weltpixel/productswatch.xml</file>
                </weltpixel_productswatch>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <weltpixel_productswatch>
                    <file>weltpixel/productswatch.xml</file>
                </weltpixel_productswatch>
            </updates>
        </layout>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                 <observers>
                    <weltpixel_productswatch_adminhtml_catalog_product_attribute_edit_prepare_form>
                        <class>weltpixel_productswatch/observer</class>
                        <method>addSwatchOptions</method>
                        <type>singleton</type>
                    </weltpixel_productswatch_adminhtml_catalog_product_attribute_edit_prepare_form>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>
    <default>
        <weltpixel_productswatch>
            <general>
                <colors_images_width>30</colors_images_width>
                <colors_images_height>30</colors_images_height>
                <colors_images_resize>1</colors_images_resize>
                <border_radius>0</border_radius>
            </general>
        </weltpixel_productswatch>
    </default>
</config>
