<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_Setup>
            <version>0.0.4</version>
        </WeltPixel_Setup>
    </modules>
    <global>
        <resources>
            <weltpixel_setup_setup>
                <setup>
                    <module>WeltPixel_Setup</module>
                </setup>
            </weltpixel_setup_setup>
        </resources>
        <models>
            <weltpixel_setup>
                <class>WeltPixel_Setup_Model</class>
            </weltpixel_setup>
            <cms_resource>
                <rewrite>
                    <block>WeltPixel_Setup_Model_Rewrite_Resource_Block</block>
                    <page>WeltPixel_Setup_Model_Rewrite_Resource_Page</page>
                </rewrite>
            </cms_resource>
            <catalog_resource>
                <rewrite>
                    <attribute>WeltPixel_Setup_Model_Catalog_Resource_Attribute</attribute>
                </rewrite>
            </catalog_resource>
            <core>
                <rewrite>
                    <layout>WeltPixel_Setup_Model_Layout</layout>
                </rewrite>
            </core>
        </models>
        <helpers>
            <weltpixel_setup>
                <class>WeltPixel_Setup_Helper</class>
            </weltpixel_setup>
            <cms>
                <rewrite>
                    <wysiwyg_images>WeltPixel_Setup_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
        <blocks>
            <weltpixel_setup>
                <class>WeltPixel_Setup_Block</class>
            </weltpixel_setup>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>WeltPixel_Setup_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <Weltpixel_Setup>
                    <files>
                        <default>Weltpixel_Setup.csv</default>
                    </files>
                </Weltpixel_Setup>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <menu>
            <weltpixel> 
                <children>
                    <importexport translate="title" module="weltpixel_setup">
                        <title>Import / Export</title>
                        <action>adminhtml/wpsetup</action>
                        <sort_order>80</sort_order>
                    </importexport>
                </children>
            </weltpixel>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <weltpixel>
                            <title>WeltPixel</title>
                            <sort_order>10</sort_order>
                            <children>
                                <importexport>
                                    <title>Import/Export</title>
                                    <sort_order>10</sort_order>
                                </importexport>
                            </children>
                        </weltpixel>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <WeltPixel_Setup before="Mage_Adminhtml">WeltPixel_Setup_Adminhtml</WeltPixel_Setup>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>