<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Medma_MarketPlace>
            <version>3.1.8</version>
        </Medma_MarketPlace>
    </modules>
    <global>
        <models>
            <dataflow>
                <rewrite>
                    <profile>Medma_MarketPlace_Model_Dataflow_Profile</profile>
                    <profile_history>Medma_MarketPlace_Model_Dataflow_Profile_History</profile_history> 
                </rewrite>
            </dataflow>
            <adminhtml>
				<rewrite>
					<system_config_source_yesno>Medma_MarketPlace_Model_System_Config_Source_Yesno</system_config_source_yesno>
				</rewrite>	
            </adminhtml>
            <marketplace>
                <class>Medma_MarketPlace_Model</class>
                <resourceModel>marketplace_mysql4</resourceModel>
            </marketplace>
            <marketplace_mysql4>
                <class>Medma_MarketPlace_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>medma_marketplace_profile</table>
                    </profile>
                    <transaction>
                        <table>medma_marketplace_transaction</table>
                    </transaction>
                    <rating>
                        <table>medma_marketplace_rating</table>
                    </rating>
                    <rate>
                        <table>medma_marketplace_rate</table>
                    </rate>
                    <prooftype>
                        <table>medma_marketplace_prooftype</table>
                    </prooftype>
                    <review>
                        <table>medma_marketplace_review</table>
                    </review>
                    <configuration>
                        <table>medma_marketplace_configuration</table>
                    </configuration>
                    <configuration_data>
                        <table>medma_marketplace_configuration_data</table>
                    </configuration_data>
                </entities>
            </marketplace_mysql4>
        </models>
        <resources>
            <marketplace_setup>
                <setup>
                    <module>Medma_MarketPlace</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </marketplace_setup>
            <marketplace_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marketplace_write>
            <marketplace_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marketplace_read>
        </resources>
        <blocks>
            <marketplace>
                <class>Medma_MarketPlace_Block</class>
            </marketplace>
            <sales>
                <rewrite>
                    <order_item_renderer_default>Medma_MarketPlace_Block_Sales_Order_Item_Renderer_Default</order_item_renderer_default>                    
                </rewrite>
            </sales>
            <catalog>
                <rewrite>
                    <product_list>Medma_MarketPlace_Block_Vendor_Profile_Items</product_list>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <system_account_edit_form>Medma_MarketPlace_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                    <catalog_product_grid>Medma_MarketPlace_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <system_convert_gui>Medma_MarketPlace_Block_Adminhtml_System_Convert_Gui</system_convert_gui>
                    <system_convert_gui_grid>Medma_MarketPlace_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                    <system_convert_gui_edit>Medma_MarketPlace_Block_Adminhtml_System_Convert_Gui_Edit</system_convert_gui_edit>
                    <system_convert_gui_edit_tabs>Medma_MarketPlace_Block_Adminhtml_System_Convert_Gui_Edit_Tabs</system_convert_gui_edit_tabs>
                    <system_convert_profile_edit_tab_run>Medma_MarketPlace_Block_Adminhtml_System_Convert_Profile_Edit_Tab_Run</system_convert_profile_edit_tab_run>
                    <system_convert_profile_edit_tab_history>Medma_MarketPlace_Block_Adminhtml_System_Convert_Profile_Edit_Tab_History</system_convert_profile_edit_tab_history>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <marketplace>
                <class>Medma_MarketPlace_Helper</class>
            </marketplace>
        </helpers>
        <fieldsets>
            <sales_convert_quote_item>
                <vendor_id>
					<to_order_item>*</to_order_item>
                </vendor_id>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <vendor_id>
					<to_quote_item>*</to_quote_item>
                </vendor_id>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <checkout_onepage_controller_success_action_marketplace>
                        <type>singleton</type>
                        <class>Medma_MarketPlace_Model_Observer</class>
                        <method>notifyVendorAndSetCommissionAmount</method>
                    </checkout_onepage_controller_success_action_marketplace>
                </observers>
            </checkout_onepage_controller_success_action>
            <catalog_product_save_before>
                <observers> 
                    <catalog_product_save_before_marketplace>
                        <type>singleton</type>
                        <class>Medma_MarketPlace_Model_Observer</class>
                        <method>catalogProductSaveBefore</method>
                    </catalog_product_save_before_marketplace>
                </observers> 
            </catalog_product_save_before>
            <medma_domain_authentication>
                <observers>
                    <domain>
                        <class>Medma_MarketPlace_Model_Authenticate</class>
                        <method>saveDomain</method>
                    </domain>
                </observers>
            </medma_domain_authentication>
            <controller_action_layout_generate_blocks_before>
				<observers>
					<controller_action_layout_generate_blocks_before_marketplace>
						<type>singleton</type>
						<class>Medma_MarketPlace_Model_Observer</class>
						<method>setSellerInfoBlock</method>
					</controller_action_layout_generate_blocks_before_marketplace>
				</observers>
			</controller_action_layout_generate_blocks_before> 
			<sales_convert_quote_item_to_order_item>
            	<observers>
                	<sales_convert_quote_item_to_order_item_marketplace>
                    	<type>singleton</type>
                        <class>Medma_MarketPlace_Model_Observer</class>
                        <method>addOptionToOrder</method>
                	</sales_convert_quote_item_to_order_item_marketplace>
            	</observers>
        	</sales_convert_quote_item_to_order_item>
        	<checkout_cart_product_add_after>
        		<observers>
        			<checkout_cart_product_add_after_marketplace>
						<type>singleton</type>
						<class>Medma_MarketPlace_Model_Observer</class>
						<method>addAttributeValue</method>
					</checkout_cart_product_add_after_marketplace>
        		</observers>
        	</checkout_cart_product_add_after>
        </events>
        <template>
            <email>
                <marketplace_email_email_template module="marketplace">
                    <label>New Vendor Order</label>
                    <file>sales/new_vendor_order.html</file>
                    <type>html</type>
                </marketplace_email_email_template>
                <marketplace_vendor_registration_email_email_template>
					<label>New Vendor Register</label>
                    <file>marketplace/vendor_registration_email.html</file>
                    <type>html</type>
                </marketplace_vendor_registration_email_email_template>
                <marketplace_vendor_activation_email_email_template>
					<label>Vendor Status Changed</label>
                    <file>marketplace/vendor_activation_email.html</file>
                    <type>html</type>
                </marketplace_vendor_activation_email_email_template>
                <marketplace_registration_confirmation_email_email_template>
					<label>New Vendor Confirmed</label>
                    <file>marketplace/vendor_confirmation_email.html</file>
                    <type>html</type>
                </marketplace_registration_confirmation_email_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <marketplace>
                <use>standard</use>
                <args>
                    <module>Medma_MarketPlace</module>
                    <frontName>marketplace</frontName>
                </args>
            </marketplace>
        </routers>
        <layout>
            <updates>
                <marketplace>
                    <file>marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
        <translate>
            <modules>
                <marketplace>
                    <files>
                        <default>Medma_MarketPlace.csv</default>
                    </files>
                </marketplace>
            </modules>
        </translate>
        <secure_url>
            <marketplace_vendor_register>/marketplace/vendor/register/</marketplace_vendor_register>
        </secure_url>
    </frontend>
    <admin>
        <routers>
            <admin_marketplace>
                <use>admin</use>
                <args>
                    <module>Medma_MarketPlace</module>
                    <frontName>admin_marketplace</frontName>
                </args>
            </admin_marketplace>
            <adminhtml>
                <args>
                    <modules>
                        <Medma_MarketPlace_Adminhtml_Core before="Mage_Adminhtml">Medma_MarketPlace_Adminhtml_Core</Medma_MarketPlace_Adminhtml_Core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <marketplace>
                    <file>marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
        <translate>
            <modules>
                <marketplace>
                    <files>
                        <default>Medma_MarketPlace.csv</default>
                    </files>
                </marketplace>
            </modules>
        </translate>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <catalog_product_collection_load_before>
                        <type>singleton</type>
                        <class>Medma_MarketPlace_Model_Product_Observer</class>
                        <method>filterProductCollection</method>
                    </catalog_product_collection_load_before>
                </observers>
            </catalog_product_collection_load_before>
			<controller_action_predispatch_marketplace_controller_method>
				<observers>
					  <controller_action_predispatch_marketplace_controller_method>
						<type>singleton</type>
						<class>Medma_MarketPlace_Model_Captcha_Observer</class>
						<method>checkCaptcha</method>
					  </controller_action_predispatch_marketplace_controller_method>
				</observers>
			</controller_action_predispatch_marketplace_controller_method>      
        </events>
        <menu>
            <medma translate="title" module="adminhtml">
                <title>Medma</title>
                <sort_order>80</sort_order>
                <children>
                    <marketplace>
                        <title>Market Place</title>
                        <sort_order>10</sort_order>
                        <children>
							<pending_products>
                                <title>Pending Products</title>
                                <sort_order>10</sort_order>
                                <action>admin_marketplace/adminhtml_product/pending</action>
                            </pending_products>
                            <manage_vendors>
                                <title>Manage Vendors</title>
                                <sort_order>20</sort_order>
                                <action>admin_marketplace/adminhtml_vendor</action>
                            </manage_vendors>
                            <reviews_ratings>
                                <title>Reviews and Ratings</title>
                                <sort_order>30</sort_order>
                                <children>									
                                    <pending_reviews>
                                        <title>Pending Reviews</title>
                                        <sort_order>10</sort_order>
                                        <action>admin_marketplace/adminhtml_review/pending</action>
                                    </pending_reviews>
                                    <all_reviews>
                                        <title>All Reviews</title>
                                        <sort_order>20</sort_order>
                                        <action>admin_marketplace/adminhtml_review/index</action>
                                    </all_reviews>										
                                    <manage_ratings>
                                        <title>Manage Ratings</title>
                                        <sort_order>30</sort_order>
                                        <action>admin_marketplace/adminhtml_rating</action>
                                    </manage_ratings>
                                </children>
                            </reviews_ratings>
                            <manage_verification>
                                <title>Verification</title>
                                <sort_order>40</sort_order>
                                <children>
                                    <manage_type>
                                        <title>Manage Types</title>
                                        <sort_order>10</sort_order>
                                        <action>admin_marketplace/adminhtml_prooftype</action>
                                    </manage_type>
                                </children>                                                
                            </manage_verification>
                            <configuration>
								<title>Configuration</title>
								<sort_order>50</sort_order>
								<action>adminhtml/system_config/edit/section/marketplace</action>
                            </configuration>
                        </children>
                    </marketplace>                    
                </children>
            </medma>            
            <vendor translate="title" module="adminhtml">
                <title>Vendor</title>
                <sort_order>75</sort_order>
                <children>
                    <orders>
                        <title>Orders</title>
                        <sort_order>10</sort_order>
                        <action>admin_marketplace/adminhtml_order</action>
                    </orders>
                    <transaction>
                        <title>Transactions</title>
                        <sort_order>20</sort_order>
                        <action>admin_marketplace/adminhtml_transaction/vendor</action>
                    </transaction>
                    <review>
                        <title>Reviews</title>
                        <sort_order>30</sort_order>
                        <action>admin_marketplace/adminhtml_review/vendor</action>
                    </review>
                    <configuration>
						<title>Configuration</title>
						<sort_order>999</sort_order>
						<action>admin_marketplace/adminhtml_configuration/index</action>						
					</configuration>
                </children>
            </vendor>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
						<medma>
							<title>Medma</title>							
							<children>
								<marketplace>
									<title>Market Place</title>									
									<children>
										<pending_products>
											<title>Pending Products</title>											
										</pending_products>
										<manage_vendors>
											<title>Manage Vendors</title>											
										</manage_vendors>
										<reviews_ratings>
											<title>Reviews and Ratings</title>											
											<children>									
												<pending_reviews>
													<title>Pending Reviews</title>													
												</pending_reviews>
												<all_reviews>
													<title>All Reviews</title>													
												</all_reviews>										
												<manage_ratings>
													<title>Manage Ratings</title>													
												</manage_ratings>
											</children>
										</reviews_ratings>
										<manage_verification>
											<title>Verification</title>											
											<children>
												<manage_type>
													<title>Manage Types</title>													
												</manage_type>
											</children>                                                
										</manage_verification>
										<configuration>
											<title>Configuration</title>											
										</configuration>
									</children>
								</marketplace>                    
							</children>
						</medma>            
                        <vendor>
                            <title>Vendor</title>
                            <children>                                
                                <orders>
                                    <title>Orders</title>
                                </orders>
                                <transaction>
                                    <title>Transactions</title>
                                </transaction>
                                <review>
                                    <title>Reviews</title>
                                </review>
                                <configuration>
                                    <title>Configuration</title>
                                </configuration>
                            </children>
                        </vendor>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <marketplace>
                                            <title>Market Place Section</title>
                                        </marketplace>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
		<captcha>
		  <frontend>
			<areas>
			  <vendor_form>
				<label>Vendor Form</label>
			  </vendor_form>
			</areas>
		  </frontend>
		</captcha>
        <marketplace>
			<general>
				<product_view_layout>two_columns_right</product_view_layout>
				<shop_info_display>right</shop_info_display>
			</general>
            <review>
                <page_size>3,6,9</page_size>
            </review>
            <vendor_registration>
				<files_allowed>jpg, jpeg, pdf, png</files_allowed>
				<max_allowed_file_size>4</max_allowed_file_size>
				<request_seller_top_link>1</request_seller_top_link>
				<request_seller_label>Request Seller</request_seller_label>
            </vendor_registration>
            <email>
                <email_sender>sales</email_sender>
                <email_template>marketplace_email_email_template</email_template>
            </email>
            <vendor_registration_email>
				<enable_registration_email>1</enable_registration_email>
				<email_template>marketplace_vendor_registration_email_email_template</email_template>
            </vendor_registration_email>
            <vendor_activation_email>
				<active_vendor_email>1</active_vendor_email>
				<email_template>marketplace_vendor_activation_email_email_template</email_template>
            </vendor_activation_email>
            <registration_confirmation_email>
				<enabled>1</enabled>
				<email_template>marketplace_registration_confirmation_email_email_template</email_template>
            </registration_confirmation_email>
        </marketplace>
    </default>
</config>
