<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_QuickView>
            <version>0.0.1</version>
        </WeltPixel_QuickView>
    </modules>
    <global>
        <helpers>
            <weltpixel_quickview>
                <class>WeltPixel_QuickView_Helper</class>
            </weltpixel_quickview>
        </helpers>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>WeltPixel_QuickView_Block_Catalog_Product_List</product_list>
                </rewrite>
                <rewrite>
                    <product_view>WeltPixel_QuickView_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <weltpixel_quickview>
                    <file>weltpixel/quickview.xml</file>
                </weltpixel_quickview>
            </updates>
        </layout>
        <routers>
            <weltpixel_quickview>
                <use>standard</use>
                <args>
                    <module>WeltPixel_QuickView</module>
                    <frontName>weltpixel_quickview</frontName>
                </args>
            </weltpixel_quickview>
            <checkout>
                <args>
                    <modules>
                        <WeltPixel_QuickView before="Mage_Checkout">WeltPixel_QuickView</WeltPixel_QuickView>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>
