<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_PageCache>
            <version>0.0.1</version>
        </WeltPixel_PageCache>
    </modules>
    <global>
        <models>
            <weltpixel_pagecache>
                <class>WeltPixel_PageCache_Model</class>
            </weltpixel_pagecache>
            <enterprise_pagecache>
                <rewrite>
                    <!--<processor>WeltPixel_PageCache_Model_Processor</processor>-->
                    <cookie>WeltPixel_PageCache_Model_Cookie</cookie>
                </rewrite>
            </enterprise_pagecache>
        </models>
    </global>
</config>
