    @import url(https://fonts.googleapis.com/css?family=Abel:300&subset=latin);


            .wp-ai-3  {   background: url(http://localhost/bhoomisewa/media/\layerednavigation\layered_swatches\155\3\30x30\categoryImages/b3.jpg) }
                        .wp-ai-7  {   background: url() }
            
    .product_swatch img { width: 30px; }
    .product_swatch img { height: 30px; }

    .swatches .filter_checkbox .swatch-container{ border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px;-ms-border-radius: 1px; }
    .swatches .filter_checkbox .swatch-container{ width: 30px; }
    .swatches .filter_checkbox .swatch-container{ height: 30px; }

    .customer-account-login #page-body-section-02, .customer-account-forgotpassword #page-body-section-02, .customer-account-create #page-body-section-02  {
    background-image: url(http://localhost/bhoomisewa/media/cleo/default/bg.jpg.png);
    }


    .w, .toolbar, .products-list, #wpmm-nav, .wpmm-nav-content-inner  {max-width: 1440px ; }



    #wrapper { max-width: 100%; margin:0 auto; }




























    body, p, input, select, textarea, th, td, b, strong, caption, th, td,
    #product-info .product-description,
    #product-reviews p, #product-reviews label
    {
            font-family: 'Abel', sans-serif !important;
                font-weight: 300 !important;
        }










#wpmm-nav li.nav-2 > a {
}
li.nav-2 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-2-1 > a {
}
#wpmm-nav li.nav-2-1-1 > a {
}
#wpmm-nav li.nav-2-2 > a {
}
#wpmm-nav li.nav-2-2-1 > a {
}
#wpmm-nav li.nav-2-2-2 > a {
}
#wpmm-nav li.nav-2-2-3 > a {
}
#wpmm-nav li.nav-2-2-4 > a {
}
#wpmm-nav li.nav-3 > a {
}
li.nav-3 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-4 > a {
}
li.nav-4 > .wpmm-nav-content {
    background-size: cover;
}
