<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_Newsletter>
            <version>0.0.1</version>
        </WeltPixel_Newsletter>
    </modules>
    <global>
        <helpers>
            <weltpixel_newsletter>
                <class>WeltPixel_Newsletter_Helper</class>
            </weltpixel_newsletter>
        </helpers>
        <models>
            <weltpixel_newsletter>
                <class>WeltPixel_Newsletter_Model</class>
            </weltpixel_newsletter>
        </models>
        <resources>
            <weltpixel_newsletter_setup>
                <setup>
                    <module>WeltPixel_Newsletter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </weltpixel_newsletter_setup>
            <weltpixel_newsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </weltpixel_newsletter_write>
            <weltpixel_newsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </weltpixel_newsletter_read>
        </resources>     
    </global>
    <frontend>
        <layout>
            <updates>
                <weltpixel_newsletter>
                    <file>weltpixel/newsletter.xml</file>
                </weltpixel_newsletter>
            </updates>
        </layout>
    </frontend>
    <default>
        <weltpixel_newsletter>
            <general>
                <enable>1</enable>
                <display_options>1</display_options>
                <display_mobile>1</display_mobile>          
                <display_after_pages>1</display_after_pages>
                <display_after_seconds>1</display_after_seconds>
                <display_block>weltpixel_newsletter</display_block>
                <popup_cookie_lifetime>4</popup_cookie_lifetime>
                <disable_popup>1</disable_popup>
            </general>
        </weltpixel_newsletter>
    </default>
</config>
