<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_MegaMenu>
            <version>0.0.8</version>
        </WeltPixel_MegaMenu>
    </modules>
    <global>
        <blocks>
            <weltpixel_megamenu>
                <class>WeltPixel_MegaMenu_Block</class>
            </weltpixel_megamenu>
            <page>
                <rewrite>
                    <html_topmenu>WeltPixel_MegaMenu_Block_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <models>
            <weltpixel_megamenu>
                <class>WeltPixel_MegaMenu_Model</class>
            </weltpixel_megamenu>
        </models>
        <helpers>
            <weltpixel_megamenu>
                <class>WeltPixel_MegaMenu_Helper</class>
            </weltpixel_megamenu>
        </helpers>
        <resources>
            <weltpixel_megamenu_setup>
                <setup>
                    <module>WeltPixel_MegaMenu</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </weltpixel_megamenu_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <weltpixel_megamenu>
                    <file>weltpixel/megamenu.xml</file>
                </weltpixel_megamenu>
            </updates>
        </layout>
        <events>
            <wp_page_block_html_topmenu_gethtml_before>
                <observers>
                    <WeltPixel_MegaMenu>
                        <class>weltpixel_megamenu/observer</class>
                        <method>addCatalogToTopmenuItems</method>
                    </WeltPixel_MegaMenu>
                </observers>
            </wp_page_block_html_topmenu_gethtml_before>
        </events>
        <routers>
            <weltpixel_megamenu>
                <use>standard</use>
                <args>
                    <module>WeltPixel_MegaMenu</module>
                    <frontName>wp_megamenu</frontName>
                </args>
            </weltpixel_megamenu>
        </routers> 
    </frontend>
    <default>
        <weltpixel_megamenu>
            <general>
                <enable>1</enable>
                <display_home_link>1</display_home_link>
                <always_display_blocks>1</always_display_blocks>
            </general>
            <mobile>
                <width_threshold>600</width_threshold>
            </mobile>
        </weltpixel_megamenu>
    </default>
</config>